In [1]:
# Name Dipika Sharma
# DSC 540 T302 Data Preparation
# Week 11 and 12 Exercise

## Activity 11

### 1. Connect to petsDB and check whether the connection has been successful.

In [2]:
import sqlite3

In [3]:
# Creating connection to petsdb database
conn = sqlite3.connect("petsdb")

In [4]:
# Defning function to see if connection to sqlite database is successful or not
# This function will return true for successful connetion.
def is_opened(conn):
    try:
        conn.execute("SELECT * FROM persons LIMIT 1")
        return True
    except sqlite3.ProgrammingError as e:
        print("Connection closed {}".format(e))
        return False

In [5]:
# Lets check connection to sqlite database petsdb
print(is_opened(conn))

True

In [6]:
# Closing the connection to Petsdb database.
conn.close()

In [7]:
# Lets check the connection again after closing it.
print(is_opened(conn))

Connection closed Cannot operate on a closed database.
False

#### As we can see from above, it will display 'False' for closed database and 'True' for successful connection to sqlite database.

### 2. Find the different age groups in the persons database.

In [8]:
# Connecting to petsdb database.

conn = sqlite3.connect("petsdb")

In [9]:
# Creating cursor to execute queries.
c = conn.cursor()

In [10]:
# Using execute function of cursor to execute query to display different age groups in persons table.

for count_ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age"):
    print("Aged {} - Total People: {}".format(age, count_ppl))

Aged 5 - Total People: 2
Aged 6 - Total People: 1
Aged 7 - Total People: 1
Aged 8 - Total People: 3
Aged 9 - Total People: 1
Aged 11 - Total People: 2
Aged 12 - Total People: 3
Aged 13 - Total People: 1
Aged 14 - Total People: 4
Aged 16 - Total People: 2
Aged 17 - Total People: 2
Aged 18 - Total People: 3
Aged 19 - Total People: 1
Aged 22 - Total People: 3
Aged 23 - Total People: 2
Aged 24 - Total People: 3
Aged 25 - Total People: 2
Aged 27 - Total People: 1
Aged 30 - Total People: 1
Aged 31 - Total People: 3
Aged 32 - Total People: 1
Aged 33 - Total People: 1
Aged 34 - Total People: 2
Aged 35 - Total People: 3
Aged 36 - Total People: 3
Aged 37 - Total People: 1
Aged 39 - Total People: 2
Aged 40 - Total People: 1
Aged 42 - Total People: 1
Aged 44 - Total People: 2
Aged 48 - Total People: 2
Aged 49 - Total People: 1
Aged 50 - Total People: 1
Aged 51 - Total People: 2
Aged 52 - Total People: 2
Aged 53 - Total People: 2
Aged 54 - Total People: 2
Aged 58 - Total People: 1
Aged 59 - Total People: 1
Aged 60 - Total People: 1
Aged 61 - Total People: 1
Aged 62 - Total People: 2
Aged 63 - Total People: 1
Aged 65 - Total People: 2
Aged 66 - Total People: 2
Aged 67 - Total People: 1
Aged 68 - Total People: 3
Aged 69 - Total People: 1
Aged 70 - Total People: 1
Aged 71 - Total People: 4
Aged 72 - Total People: 1
Aged 73 - Total People: 5
Aged 74 - Total People: 3

### 3. Find the age group that has the maximum number of people.

In [11]:
# Lets count the people by agegroup and then order it t show age group with maximum people

for count_ppl, age in c.execute("SELECT count(*), age FROM persons GROUP BY age ORDER BY count(*) DESC"):
    print("Age group {} has maximum number of people, count is {}".format(age, count_ppl))
    break

Age group 73 has maximum number of people, count is 5

### 4. Find the people who do not have a last name.

In [12]:
# Lets count the people without last name in persons table.
for count in c.execute("SELECT count(*) FROM (SELECT first_name FROM persons where last_name is null)"):
    print("People who do not have last name are: {}".format(count[0]))

People who do not have last name are: 60

### 5. Find out how many people have more than one pet.

In [13]:
# Store all the people in res which have more then one pet

res = c.execute("SELECT count(*) FROM (SELECT count(owner_id) FROM pets GROUP BY owner_id HAVING count(owner_id) >1)")

for row in res:
    print("There are {} people with more than one pets".format(row[0]))

There are 43 people with more than one pets

### 6. Find out how many pets have received treatment.

In [14]:
# Lets count the pets which have received the treatment.

res = c.execute("SELECT count(*) FROM pets WHERE treatment_done=1")
for row in res:
    print("{} pets have received the treatment".format(row[0]))

36 pets have received the treatment

### 7. Find out how many pets have received treatment and the type of pet is known.

In [15]:
for petType, count in c.execute("SELECT pet_type, count(*) FROM pets WHERE treatment_done=1 AND pet_type IS NOT null"):
    print("For Pet type {}, {} pets received treatment".format(petType, count))

For Pet type 1.0, 16 pets received treatment

### 8. Find out how many pets are from the city called east port.

In [16]:
# Since we need owners location so we joing pets and person table

res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port'")
for row in res:
    print("We have {} pets from the city called east port".format(row[0]))

We have 49 pets from the city called east port

### 9. Find out how many pets are from the city called east port and who received a treatment.

In [17]:
# Joining the person and pets table to get pets counts.
res = c.execute("SELECT count(*) FROM pets JOIN persons ON pets.owner_id = persons.id WHERE persons.city='east port' AND pets.treatment_done=1")
for row in res:
    print("There are {} pets from city east port who have received the treatment".format(row[0]))

There are 11 pets from city east port who have received the treatment

In [19]:
# Closing the connection to Petsdb database.
conn.close()